{% extends "base.html" %} {% block title %}Create a blog post {% endblock %} {%
block content %}
<div class="container pt-5">
  <h4 class="text-center">Make a Post</h4>
  <form method="POST">
    <label for="title" class="form-label">Post Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      aria-describedby="titleHelp"
      placeholder="Post Title"
    />
    <textarea name="text" id="text" class="form-control"></textarea>
    <br />
    <div align="center">
      <button class="btn btn-secondary btn-lg" type="submit">
        Create post
      </button>
    </div>
  </form>
</div>

{% endblock %}
